* {
    margin: 0;
    padding: 0;
}

body,
html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: aquamarine;
    width: 10%;
    nav {
        ul {
            list-style: none;
            li {
                padding: 1em;
                background-color: red;
                cursor: pointer;
                margin: 1em;
                span {}
            }
        }
    }
}